.card{
    border: none;
    width: 100%;
    height:auto;
    padding:0;
    background: #FAF9F7;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card_caro_first{
    height:800px;
    background: #FAF9F7;
    
}
.carousel_col_first{
    padding:250px 20px;
}
.carousel_col_second{
  padding:170px 20px;
}
.carousel_col_first >h3 {
    font-size:2.5rem;
    font-weight: normal;
    color:#2977C9;
}

.carousel_col_first >p {
    font-size:1.9rem;
    font-weight:lighter;
    color:black;
}

img{
    width:450px;
    height:450px;
}