.navbar_main {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  z-index: 999;
}
.container-fluid {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
}
.container {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.logo {
  width: 180px;
  height: 120px;
  overflow: hidden;
  margin-top: -3%;
  margin-left: -1%;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  text-align: center;
  padding: 0px 25px;
  justify-content: end;
}

.nav_list_home {
  height: 50px;
  color: black;
  background: rgb(253, 253, 253);
  padding: 0px 30px;
}

.home_btn {
  color: rgb(0, 0, 0);
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  text-decoration: none;
  padding: 0rem 1rem;
  height: 100%;
}

.nav_list_home:hover {
  text-decoration: none;
}

.nav_list_login {
  height: 40px;
  color: #4361ee;
  text-decoration: none;
  background: rgb(253, 253, 253);
  padding: 0px 25px;
  border: 1.7px solid #0353a4;
  border-radius: 30px;
}
.login_btn {
  color: #0353a4;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  text-decoration: none;
  /* padding:0px 25px; */
  height: 100%;
}

.nav_list_login:hover {
  background-color: #a0c8f0;
  border: 2px solid #0353a4;
  color: #ffffff;
}
